gitpython>=3.1.24
requests>=2.26.0
streamlit
langchain-community
google-generativeai
python-dotenv
Pillow
opencv-python
langchain
PyPDF2
chromadb
faiss-cpu==1.7.4
langchain_google_genai
python-docx==0.8.11
beautifulsoup4
langchainhub
langchain-core
python-dotenv
